a:not(.no-style) {
	padding: calc(var(--unit) * 0.5);
	outline-offset: calc(var(--unit) * 0);
	transition: all 0.2s ease;
}

a:link,
a:visited {
	color: var(--color-action);
	text-decoration: underline;
}

a.is-muted,
a.has-visited:visited {
	color: var(--color-action-muted);
	text-decoration: underline;
}

a.is-focus,
a:focus {
	color: var(--color-action-focus);
}

a.is-hover,
a:hover {
	color: var(--color-action-hover);
}

a.is-active,
a:active {
	color: var(--color-action-active);
}
