h2 {
	--font-size: 4;
	--font-line-height: 5;

	margin: 0;
	padding-top: var(--font-baseline-offset);
	padding-right: var(--unit);
	padding-bottom: calc(var(--unit) * 3 - var(--font-baseline-offset));
	padding-left: var(--unit);

	font-size: calc(var(--font-size) * var(--unit));
	font-weight: var(--font-h2-weight);
	line-height: calc(var(--font-line-height) * var(--unit));
}

@supports (font-variation-settings: normal) {
	h2 {
		font-weight: unset;
		font-variation-settings: "wght" var(--font-h2-weight);
	}
}
