html {
	display: flex;

	margin: 0;
	padding: 0;

	min-height: 100%;
	min-width: 100%;

	font-family: var(--font-family);
	font-size: var(--font-size);
	font-variation-settings: var(--font-variation-settings);
	font-weight: var(--font-weight);
	line-height: var(--font-line-height);
	font-variant-ligatures: var(--font-variant-ligatures);

	background: var(--main-bg);
	color: var(--main-fg);
}
