p {
	margin: 0;
	padding: 0;
}

p {
	--font-size: 2.25;
	--font-line-height: 4;

	font-variation-settings: "wght" 350;

	padding-top: var(--font-baseline-offset);
	padding-right: var(--unit);
	padding-bottom: calc(var(--unit) * 2 - var(--font-baseline-offset));
	padding-left: var(--unit);
}
