:root {
	/* Background-colors */

	--_color-background: 20, 20%, 15%;

	--color-background: hsl(var(--_color-background));

	/* Text */

	--_color-text: 70, 75%, 90%;
	--_color-text-emphasised: 70, 75%, 90%;
	--_color-text-muted: 70, 45%, 50%;

	--color-text: hsl(var(--_color-text));
	--color-text-emphasised: hsl(var(--_color-text-emphasised));
	--color-text-muted: hsl(var(--_color-text-muted));

	/* Actions */

	--_color-action: 199, 94%, 67%;
	--_color-action-hover: 199, 94%, 85%;
	--_color-action-focus: var(--_color-action-hover);
	--_color-action-active: 199, 80%, 60%;
	--_color-action-muted: var(--_color-action-active);
	--_color-focus-outline: var(--_color-action-focus);

	--color-action: hsl(var(--_color-action));
	--color-action-hover: hsl(var(--_color-action-hover));
	--color-action-focus: hsl(var(--_color-action-focus));
	--color-action-active: hsl(var(--_color-action-active));
	--color-action-muted: hsl(var(--_color-action-muted));
	--color-focus-outline: hsla(var(--_color-focus-outline), 0.8);
}

/*
On
Off

Inactive
Active
Disabled

Good
Worrying
Bad

Neutral 1
Neutral 2
Neutral 3

*/
