.dev *:not(#app):not(div) {
	outline: 1px dotted lightblue;
}

.dev body {
	background-image: linear-gradient(to bottom, hsla(55, 60%, 89%, 0.2) 1px, transparent 1px),
		linear-gradient(to right, hsla(55, 60%, 89%, 0.2) 1px, transparent 1px),
		linear-gradient(to bottom, hsla(55, 60%, 89%, 0.2) 1px, transparent 1px),
		linear-gradient(to right, hsla(55, 60%, 89%, 0.2) 1px, transparent 1px);
	background-position: 0 -0.5px;
	background-size: calc(var(--unit-fluid) * 1) calc(var(--unit) * 1),
		calc(var(--unit-fluid) * 1) calc(var(--unit) * 1),
		calc(var(--unit-fluid) * 8) calc(var(--unit) * 8),
		calc(var(--unit-fluid) * 8) calc(var(--unit) * 8);
}
