/*
 * Vendors
 */

@import "./../vendor/Inter-3-2/Inter Web/inter.css";
@import "./../vendor/IBMPlexMono/IBMPlexMono.css";

/*
 * Custom properties
 */

@import "./variables.css";
@import "./colors.css";

@import "./common.css";
@import "./typography.css";

/*
 *  Tags
 */
@import "./tags/a.css";
@import "./tags/body.css";
@import "./tags/h1-h6.css";
@import "./tags/html.css";
@import "./tags/input.css";
@import "./tags/label.css";
@import "./tags/p.css";
@import "./tags/section.css";

@import "./dev.css";

.container {
	max-width: calc(var(--unit-fluid) * 10400);
	margin: 0 auto;
	padding: 0 calc(var(--unit-fluid) * 4);
}

@media screen and (max-width: 600px) {
	.container {
		padding: 0 calc(var(--unit-fluid) * 1);
	}
}
